/* *******************Default******************************************* */
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: "Gilroy Medium";
	src: url("/02-assets/fonts/gilroy-medium.woff");
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("/02-assets/fonts/gilroy-bold.woff");
}
@font-face {
	font-family: "Bebas Bold";
	src: url("./02-assets/fonts/bebas-bold.woff");
}
:root {
	--font-primary: "Gilroy Medium", "San Francisco", "SF Pro Text", -apple-system,
		system-ui, sans-serif;
	--font-secondary: "Gilroy Bold", "San Francisco", "SF Pro Text", -apple-system,
		system-ui, sans-serif;
	--font-tertiary: "Bebas Neue", "San Francisco", "SF Pro Text", -apple-system,
		system-ui, sans-serif;
	--color-level-1: #ffffff;
	--color-level-2: #6befaa;
	--color-level-3: #255757;
	--color-level-4: #073e3e;
	--color-level-5: #002e2e;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 1rem;
	--fz-lg: 18px;
	--fz-xl: 1.5rem;
	--fz-xxl: 2.5rem;
	--fz-heading: 32px;
	--minor-border-radius: 6px;
	--major-border-radius: 12px;
	--ln: 1.5;
}

* {
	box-sizing: border-box;
	text-decoration: none;
	color: var(--color-level-1);
	line-height: var(--ln);
}

*:hover {
	transition: 0.5s;
}

::-webkit-scrollbar {
	background-color: var(--color-level-4);
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-level-3);
}
body {
	background-color: var(--color-level-5);
	color: var(--color-level-1);
	font-family: var(--font-primary);
	margin: 0;
	overflow-x: hidden;
}
section {
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 40px 3vw;
	margin: 40px 0px;
	box-sizing: border-box;
}
.section-title {
	font-size: var(--fz-heading);
	font-weight: 600;
	color: var(--color-level-2);
	margin-bottom: 40px;
	min-width: 100vw;
	height: min-content;
}

/* *******************************Navbar******************************* */

header {
	height: 100px;
	border-bottom: 2px var(--color-level-2) solid;
	width: 100%;
	padding: 30px 3vw;
}
header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.brand-name a {
	color: var(--color-level-1);
	font-size: var(--fz-xl);
	font-weight: 600;
}
.nav-items {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-item-link {
	padding: 10px 30px;
	border-radius: var(--minor-border-radius);
	font-size: var(--fz-md);
}
.nav-item-link:hover {
	background-color: var(--color-level-3);
}
/* ******************************Banner********************************* */

#banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80vh;
}
#banner .banner-text {
	max-width: 40%;
}

#banner .section-title span {
	font-size: 5rem;
	color: var(--color-level-2);
	font-weight: 700;
	text-transform: uppercase;
	font-family: var(--font-tertiary);
	line-height: 1.2;
}
#banner #section-sub-title {
	color: var(--color-level-1);
	font-size: 4rem;
}
.section-body {
	margin-top: 10px;
	font-size: var(--fz-lg);
	line-height: 1.6;
}
.cta-btn {
	margin-top: 70px;
	padding: 10px;
	background-color: var(--color-level-3);
	max-width: fit-content;
	border: 2px var(--color-level-2) solid;
	cursor: pointer;
	border-radius: var(--minor-border-radius);
	font-size: var(--fz-lg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-family: var(--font-secondary);
}

.cta-btn:hover {
	color: var(--color-level-4);
	background: var(--color-level-2);
	transition: 0.5s;
}
.cta-btn:hover span svg path {
	fill: var(--color-level-5);
	transition: 0.5s;
}

.banner-img {
	background-image: url("/02-assets/img/pattern.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 50%;
	background-position: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-img .container {
	width: 25%;
	height: auto;
	border: 4px var(--color-level-2) solid;
	border-radius: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 300px;
}
.banner-img img {
	width: 100%;
	height: auto;
	border: 2px #111 solid;
	border-radius: 20px;
}

/* ****************************Features******************************* */

#features {
	margin: 90px 0px;
}
#features .section-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 50px;
}
.card {
	background: var(--color-level-3);
	padding: 40px 30px;
	/* width: 400px; */
	height: max-content;
	border-radius: var(--major-border-radius);
	display: flex;
	flex-direction: column;
}
.card-img img {
	margin: 20px 0;
}
.card-title {
	font-weight: 600;
	margin-bottom: 8px;
	color: var(--color-level-2);
	font-size: var(--fz-lg);
	font-family: var(--font-secondary);
}
.card-body {
	font-size: var(--fz-md);
}

/* ********************About******************************************* */

#about {
	background-color: var(--color-level-4);
	border-top: 4px var(--color-level-3) solid;
	border-bottom: 4px var(--color-level-3) solid;
	padding-top: 100px;
}

#about .section-body {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}
#about .section-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: 1 / span 2;
	width: 60%;
}
.section-body ul {
	padding-left: 20px;
	margin-left: 0%;
}
.section-body ul li {
	list-style-image: url("/02-assets/img/list.svg");
	line-height: 2;
	padding-left: 12px;
}
.section-img {
	margin: 0px 0px 0px 100px;
}
#about .section-img {
	border: 4px var(--color-level-2) solid;
	border-radius: var(--major-border-radius);
}
.section-img img {
	width: 350px;
	height: auto;
	margin-top: 0%;
	border: 3px black solid;
	border-radius: var(--major-border-radius);
}
/******************Projects**************************************** */

#projects .section-body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 40vh);
	column-gap: 50px;
}
#projects .card {
	height: auto;
	width: auto;
	overflow: hidden;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
#projects .card .card-img {
	width: 100%;
	height: 25vh;
	overflow: hidden;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--major-border-radius);
}
#projects .card-btn {
	width: 10vw;
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-level-2);
	border-radius: var(--minor-border-radius);
	margin-top: 30px;
	color: var(--color-level-5);
}
#projects .card .card-img img {
	display: block;
	width: 100%;
	border-radius: var(--major-border-radius);

}
#projects .card:nth-child(1) {
	grid-row: 1 / 4;
	grid-column: 1;
}
#projects .card:nth-child(2) {
	grid-row: 1;
	grid-column: 2/4;
	flex-direction: row;
	justify-content: flex-start;
}
#projects .card:nth-child(2) .card-img {
	width: 20vw;
	height: 100%;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#projects .card:nth-child(2) .card-img img{
	width: auto;
	height: 100%;
}
#projects .card:nth-child(2) .card-card-content {
	display: flex;
}
/* ************************************************************************** */
#contact {
	display: flex;
	align-items: center;
	height: 90vh;
}
#contact .section-title {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact .container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
.section-left-content {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-right: 3px var(--color-level-3) solid;
}
.section-left-content .sub-title {
	font-size: var(--fz-heading);
	font-weight: 600;
	color: var(--color-level-2);
	margin-bottom: 20px;
}
.section-left-content .section-body {
	width: 60%;
}

.social-btn {
	margin: 50px 0;
	display: flex;
	flex-direction: row;
}
.item {
	border: 2px var(--color-level-3) solid;
	max-width: fit-content;
	padding: 10px;
	margin-right: 20px;
	border-radius: 35px;
	cursor: pointer;
}
.item:hover {
	border: 2px var(--color-level-2) solid;
	transition: 0.5s;
}
.section-right-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	margin-left: 3%;
}
.section-right-container form input {
	width: 100%;
	height: 8vh;
	border-radius: var(--minor-border-radius);
	color: #ffffff;
	background-color: var(--color-level-3);
	border: none;
	padding-left: 20px;
	margin-bottom: 30px;
	font-size: var(--fz-md);
	font-family: var(--font-primary);
}
.section-right-container form input::placeholder {
	color: #ffffff;
	font-family: var(--font-primary);
	font-size: var(--fz-md);
	/* padding-left: 20px; */
}
.section-right-container form input[name="message"] {
	height: 130px;
}
.section-right-container .cta-btn {
	padding: 10px 35px;
}
footer {
	width: 100%;
	height: 60%;
	display: flex;
	border-top: 2px var(--color-level-2) solid;
	flex-direction: column;
	background-color: var(--color-level-4);
}
footer .container,
.footer-link {
	display: flex;
	flex-direction: row;
}
footer .container .footer-about-section {
	width: 60%;
}
footer .container .footer-about-section .footer-about-title {
	font-size: var(--fz-lg);
	margin: 15px 0px;
}
.footer-link {
	width: 100%;
	margin-left: 20%;
	margin-right: 5%;
	justify-content: space-between;
}
.footer-link-group-title {
	font-size: var(--fz-lg);
	font-family: var(--font-secondary);
	color: var(--color-level-2);
	font-weight: 600;
	font-family: var(--font-secondary);
}
.footer-link-group-items ul {
	padding: 0%;
}
.footer-link-group-items ul li {
	text-decoration: none;
	list-style-type: none;
	padding: 0%;
	padding: 10px 0;
}
.footer-link-group-items ul li:hover a {
	color: var(--color-level-2);
}
#copyright-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
#banner .section-title {
	font-family: var(--font-tertiary);
}

/* Large Devices (desktops, less then 1200px) */
@media screen and (max-width: 1200px) {
}

/* Medium Devices (tablets, less then 992px) */
@media screen and (max-width: 992px) {
}

/* Small Devices (landscapes phones, less then 768px) */
@media screen and (max-width: 768px) {
}

/* Small Devices (potrait phones, less then 320px) */
@media screen and (max-width: 420px) {
	section {
	padding: 40px 6vw;

	}

	header {
		padding: 30px 30px;
		
	}
	
	header nav .brand-name{
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	header nav .brand-name::after{
		content: " ";
		width: 40px;
		height: 40px;
		display: inline-block;
		background-image: url('/02-assets/img/profileIcon-v7.1.webp');
		background-position: 0;
		background-size: contain;
		/* margin-left: 35%; */

	}
	#banner {
		margin-top: 15vh;
		overflow: hidden;
		flex-direction: column;
		height: fit-content;
	}
	#banner .banner-text {
		max-width: 100%;
	}
	#banner .section-title span {
		font-size: 3rem;
	}
	#banner #section-sub-title {
		font-size: 3rem;
	}
	.banner-img {
		display: none;
	}
	#banner .section-body {
		font-size: var(--fz-md);
		width: 90%;
	}
	.nav-items {
		display: none;
	}
	#features .section-body {
		flex-direction: column;
	}
	#features .section-body .card {
		margin-bottom: 5vh;
	}
	#about .section-body {
		flex-direction: column;
		font-size: var(--fz-md);
	}
	#about .section-img {
		order: -3;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5vh;
	}
	.section-img img {
		width: 100%;
	}
	#about-cta-btn {
		max-width: 100%;
		padding: 15px;
		font-size: var(--fz-lg);
		/* margin: 20px 5vw; */
	}
	#projects .section-body {
		display: flex;
		flex-direction: column;
	}
	#projects .card .card-body {
		font-size: var(--fz-sm);
	}
	#projects .card .card-title {
		font-family: var(--font-secondary);
		font-size: var(--fz-lg);
	}
	#projects .card-btn {
		width: fit-content;
		padding: 20px;
	}
	#projects .card:nth-child(2) {
		flex-direction: column;
		justify-content: center;
	}
	#projects .card:nth-child(2) .card-img {
		width: 100%;
		height: 25vh;
		margin-right: 0px;
	}
	#contact {
		height: fit-content;
	}
	#contact .container {
		flex-direction: column;
		height: 100%;
	}
	.section-left-content {
		width: 100%;
		border-right: none;
		align-items: center;
		border-top: 3px var(--color-level-3) solid;
		padding-top: 30px;
	}
	.section-left-content .section-body {
		width: 90%;
		text-align: center;
		font-size: var(--fz-sm);
	}
	.section-right-container form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer{
		height: fit-content;
	}
	footer .container,
	.footer-link {
		flex-direction: column;
	}
	footer .container .footer-about-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		/* align-items: center; */
	}
	footer .container .footer-about-section .footer-about-body {
		font-size: var(--fz-sm);

	}
	.footer-link {
		margin-right: 0;
		margin-left: 0%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* display: none; */
		margin-top: 0;

	}
	.footer-link-group {
		width: 40vw;
		margin-bottom: 20px;
	}
	.footer-link-group-title {
		font-size: 1.5rem;
		color: var(--color-level-2);
	}
	#copyright-bar {
		background-color: var(--color-level-2);
		bottom: 0;
		flex-direction: column;
		padding: 30px 0;
		height: fit-content;
		margin: 0;
	}
	#copyright-bar div {
		color: var(--color-level-5);
		font-size: var(--fz-lg);
	}
	#copyright-bar div:nth-child(1){
		display: none;
	}
}
/* Small Devices (potrait phones, less then 320px) */
/* 
@media screen and (max-width: 320px) {


	body{
		margin-left: 30px;
	}
	#banner {
		margin-top: 50vh;
		overflow: hidden;
		flex-direction: column;
	}
	#banner .banner-text {
		max-width: 100%;
	}
	.nav-items{
		display: none;
	}
} */
