.navbar-container {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg);
  padding: 25px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-brand a {
  color: var(--base);
}
.nav-items {
  display: flex;
  column-gap: 10px;
}
.nav-item {
  width: 7vw;
  color: var(--light-bg);
  padding: 10px 1.5vw;
  line-height: 1.75;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.nav-item:hover {
  opacity: 1;
  transition: 0.2s;
  color: var(--primary);

  background-color: var(--base);
}
.nav-items a.active {
  color: var(--base);
  opacity: 1;
}
.nav-items a.active:hover {
  background-color: transparent;

  color: var(--base);
  opacity: 1;
}

.nav.cta-btn {
  background-color: var(--primary);
  color: var(--base);
  transition: 0.5s;
  width: 150px;
  margin: 0 20px;
  padding: 0px 10px;
  border-radius: 11px;
}
.nav.cta-btn:hover {
  color: var(--primary);
  background-color: var(--base);
}

.nav-toggle {
  max-width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--base);
  font-size: 25px;
  padding: 0 25px;
  display: none;
  cursor: pointer;
}

.nav-items.responsive_nav {
  transform: translateX(0);
}
.nav-item-icon {
  display: none;
}

/* --------------------Home Section------------------- */

.home {
  height: 70vh;
}
/* ----------------Intro Card------------------------ */

.card-container.intro {
  background-color: var(--primary);
  color: var(--base);
  padding: 0px 6rem 5rem 2rem;
  justify-content: end;
  height: 100%;
}

.card-container.intro div {
  margin-bottom: 30px;
}
.card-container.intro .body-normal {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.info.cta-btn:hover {
  color: var(--primary);
  background-color: var(--base);
}
.icon-bars {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  gap: 20px;
}
.icon-bars .icon-container {
  background-color: var(--primary);
  color: var(--base);
  font-weight: 600;
  width: 60px;
  height: 100%;
  align-items: center;
  line-height: 1;
  transition: 0.5s;
  white-space: nowrap;
  border: 2px transparent solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-bars .icon-container div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
.icon-bars .icon-container:hover {
  transition: 0.5s;
  /* transform: scale(1.2); */
  /* margin: 0 10px; */
  border: 2px var(--base) solid;
}
.info.cta-btn {
  border: 2px var(--base) solid;
  margin: 0;
  background-color: transparent;
  color: var(--base);
}

/* --------------Profile-------------------------- */

.image-container {
  background-color: var(--light-bg);
  width: 80%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../assets/media/profilePhoto.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.image-container img {
  object-fit: cover;
  width: 90%;
}
/* ----------------Project Card------------------------ */
.section-container.project {
  background-color: var(--highlight);
}
.section-body.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* ---------------Project Big Card-------------------- */

.section-container.project .big-card-container {
  background-color: var(--base);
  width: 100%;
  grid-column: span 2;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.section-container.project .big-card-img {
  width: 60%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}

.section-container.project .big-card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-container.project .big-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 30px;
  padding-right: 30px;
  row-gap: 2rem;
}
.section-container.project .big-card-title {
  padding-top: 2rem;
}
.section-container.project .big-card-desc {
  color: var(--dark-bg);
  opacity: 0.6;
  font-size: 14px;
  line-height: 23px; /* 171.818% */
  text-align: justify;
}
.section-container.project .big-card-tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 0.7rem;
  opacity: 0.7;
}
.section-container.project .big-card-tag-item {
  width: 30%;
  padding: 0 10px;
  line-height: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg);
  font-size: 14px;
}
.section-container.project .big-card-Button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.section-container.project .big-card.cta-btn {
  color: var(--primary);
  padding: 0;
}

/* ---------------Project small Card-------------------- */

.project-small-card-container {
  background-color: var(--base);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.section-container .more-card-container {
  background-color: var(--base);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: var(--dark-bg);
  color: var(--base);
}

.project-small-card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}

 .project-small-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-small-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  row-gap: 1rem;
}
.project-small-card-title {
  padding-top: 10px;
}
.project-small-card-body .small-card-desc {
  color: var(--dark-bg);
  opacity: 0.6;
  font-size: 14px;
  line-height: 23px; /* 171.818% */
  text-align: center;
}

.project-small-card-Button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-small-card.cta-btn {
  color: var(--primary);
  padding: 0;
}

/* -----------------Review Section-------------------- */

.section-container.review {
  background-color: var(--dark-bg);
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.section-body.review {
  display: flex;
  flex-direction: row;
  color: var(--base);
}
.section-body-start.test {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
.section-body-end.test {
  flex-direction: column;
  justify-content: start;
  row-gap: 2rem;
  overflow-y: scroll;
}
.test-card-container {
  background-color: #072b74;
  width: 60%;
  height: 50%;
  padding: 1.5rem;
  color: var(--base);
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.test-card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}
.user-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.test-card-profile {
  width: 40px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-card-profile img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.user-name {
  font-family: "Gilroy-Bold";
}
.user-category {
  font-family: "Gilroy-Medium";
  opacity: 0.6;
}
.ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
}
.section-body-end.test::-webkit-scrollbar {
  display: none;
}
.ratings .star {
  background-color: var(--primary);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 5px;
}
.test-card-desc {
  font-size: 14px;
  line-height: 1.3;
}

/* ------------------Services------------------ */

.section-container.services {
  background-color: var(--primary);
}
.section-container.services .section-navigation {
  background-color: var(--base);
  color: var(--primary);
}
.section-title.heading.services {
  color: var(--base);
}
.section-body.services {
  align-items: center;
}
.section-container.services .section-body-start {
  color: var(--base);
  row-gap: 2rem;
  height: 100%;
}
.service-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  width: 60%;
  flex-wrap: wrap;
}
.service-category-item {
  background-color: #3478ff;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px transparent solid;
}
.service-category-item:hover {
  border: 2px var(--base) solid;
}
.service-category-item.active-category-item {
  background-color: var(--base);
  color: var(--primary);
}
.section-container.services .section-body-end {
  justify-content: end;
}
.section-body-end .feature-list-container {
  background-color: var(--base);
  width: 85%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.feature-list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}
.feature-list-item {
  display: flex;
}
.feature-list-item span {
  color: #0da35f;
}
.feature-list-cta-btn {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: end;
}
.feature-list-cta-btn .cta-btn {
  width: fit-content;
  color: var(--primary);
}
.feature-list-cta-btn .cta-btn:hover {
  background-color: var(--light-bg);
}
/* ----------------article Card------------------------ */
.section-container.article {
  background-color: var(--highlight);
  height: 90vh;
}
.section-body.article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
  height: 80%;
}
/* ---------------article Big Card-------------------- */

.section-container.article .big-card-container {
  background-color: var(--base);
  width: 100%;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.section-container.article .big-card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}

.section-container.article .big-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-container.article .big-card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px 30px;
  row-gap: 1rem;
}
.section-container.article .big-card-title {
  padding-top: 1rem;
}
.section-container.article .big-card-desc {
  color: var(--dark-bg);
  opacity: 0.6;
  font-size: 14px;
  line-height: 23px; /* 171.818% */
  text-align: justify;
}
.section-container.article .big-card-tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 0.7rem;
  opacity: 0.7;
}
.section-container.article .big-card-tag-item {
  width: 30%;
  padding: 0 10px;
  line-height: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg);
  font-size: 14px;
}
.section-container.article .big-card-Button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.section-container.article .big-card.cta-btn {
  color: var(--primary);
  padding: 0;
}

/* ---------------Article Small Card-------------------- */

.section-container.article .small-card-container {
  background-color: var(--base);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 7rem;
}
.section-container.article .small-card-img {
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}

.section-container.article .small-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-container.article .small-card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  row-gap: 0.6rem;
}
.section-container.article .small-card-title {
  padding-top: 10px;
  font-size: 18px;
}
.section-container.article .small-card-desc {
  color: var(--dark-bg);
  opacity: 0.6;
  font-size: 12px;
  line-height: 23px; /* 171.818% */
}

.section-container.article .small-card-Button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-container.article .small-card.cta-btn {
  color: var(--primary);
  padding: 0;
}
/* ------------------Contact-------------------- */

.section-container.contact {
  padding: 0;
  height: 60vh;
  column-gap: 5vh;
}
.section-container.contact .section-body-start {
  background-color: var(--highlight);
  padding: 2rem;
  justify-content: center;
  width: 60%;
}
.section-container.contact .section-body-start .heading {
  color: var(--primary);
}
.section-container.contact .section-body-start .body-normal {
  width: 80%;
}
.section-container.contact .section-body-end {
  width: 37%;
  display: flex;
  flex-direction: column;
}
form,
.form-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 2rem;
}
.form-section {
  display: none;
}
.form-section.show {
  display: flex;
}
form input,
form select,
form textarea,
form .submit-button {
  width: 100%;
  background-color: transparent;
  border: 2px var(--dark-bg) solid;
  font-size: 18px;
  padding: 15px;
}
form textarea {
  height: 20%;
}
form input::placeholder,
form input::placeholder {
  font-size: 18px;
  font-family: "Gilroy-Medium";
}

form textarea {
  height: 40%;
  font-family: "Gilroy-Medium";
}
form .submit-button {
  background-color: var(--primary);
  color: var(--base);
  border: none;
}

form .submit-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px transparent solid;
}
form .submit-button:hover {
  border: 2px var(--dark-bg) solid;
}

/* ------------------Socials------------------- */

.section-container.social {
  background-color: var(--dark-bg);
  height: 60vh;
  color: var(--base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.section-container.social .label {
  font-family: "Gilroy-Light";
  font-size: 20px;
}
.section-container.copy {
  background-color: var(--dark-bg);
  width: 100%;
  height: 12vh;
  color: var(--base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.section-container.copy .label {
  line-height: 1.2;
}

/* ----------------Project Content---------------------- */

.modal-body-banner {
  background-color: var(--light-bg);
  width: 100%;
  min-height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body-section {
  width: 100%;
  background-color: var(--light-bg);
  min-height: fit-content;
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.modal-body-section-title {
  font-family: "Gilroy-Semibold";
  font-size: 20px;
  color: #222c3b;
}
.modal-body-section-desc {
  font-size: 16px;
  line-height: 1.5;
  color: #485d7a;
}
.modal-body-section-tags {
  display: flex;
  column-gap: 4%;
}
.modal-body-section-tag-item {
  background-color: #d5dde6;
  padding: 2% 3%;
  border-radius: 8px;
  font-size: 12px;
}
.date-set {
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 10vh;
}
.date-set .date {
  background-color: #d5dde6;
  padding: 2% 3%;
  border-radius: 8px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-desc {
  font-size: 14px;
  line-height: 1.5;
}
.modal-body-section-cta-btn {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  color: var(--base);
  cursor: pointer;
}
.modal-body-section-cta-btn:hover {
  background-color: var(--primary);
  color: var(--base);
}

.contactForm .modal-body {
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* Tablet and lower screens than tablets */
@media only screen and (max-width: 1200px) {
  .navbar-container {
    background-color: var(--light-bg);
  }
  .nav-brand a {
    color: var(--dark-bg);
    font-weight: 700;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-items {
    width: 94%;
    position: fixed;
    bottom: 0vh;
    background-color: var(--dark-bg);
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    left: 0;
    transition: 1s;
    margin: 13px 13px 13px 13px;
    align-self: center;
  }
  .nav-item {
    width: 90%;
    line-height: 1.3;
  }
  .nav-item-label {
    display: none;
  }
  .nav-item-icon {
    display: block;
  }
  .nav.cta-btn {
    width: 90%;
    display: none;
  }

  .card-container.intro {
    order: 2;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .image-container {
    width: 100%;
    height: 40%;
    align-items: start;
  }
  .image-container img {
    width: 40%;
  }

  .icon-bars .icon-container:hover {
    width: 60px;
    transform: scale(1.2);
  }
  .icon-bars .icon-container .icon-label {
    display: none;
  }
  .icon-bars {
    /* display: none; */
  }
  .nav-items {
    display: none;
  }
  section {
    height: 70vh;
  }
}
