@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: #ffffff;
  --primary: #0051ed;
  --highlight: #d0e0ff;
  --light-bg: #eef1f5;
  --dark-bg: #041c4e;
  --accent: linear-gradient(96deg, var(--dark-bg) -29%, var(var(--primary)) 28.11%, var(--dark-bg) 135.78%);
}

* {
  box-sizing: border-box;
  border-radius: 0.7rem;
  -webkit-tap-highlight-color: transparent; /* For Safari and older versions of Chrome */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Set to fully transparent */
  tap-highlight-color: rgba(0, 0, 0, 0); /* Standard property for newer browsers */
  -moz-tap-highlight-color: transparent; /* For Mozilla Firefox */
}
*:hover {
  transition: 0.2s;
}

a {
  text-decoration: none;
}
svg {
  border-radius: 0;
}
body {
  width: 100%;
  padding: 0 35px;
  margin: 0;
  font-family: "Gilroy-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  color: var(--dark-bg);
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
}
section {
  width: 100%;
  margin: 5vh 0px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5vh;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.heading {
  font-family: "Gilroy-Bold";
  font-size: 29px;
  font-style: normal;
  line-height: normal;
}
.heading-large {
  font-family: "Gilroy-Bold";
  font-size: 55px;
  font-style: normal;
  line-height: 139%; /* 102.058px */
}
.card-title {
  font-family: "Gilroy-Bold";
  font-size: 28px;
  font-style: normal;
  line-height: 139%; /* 55.6px */
  letter-spacing: 2px;
}
.sub-heading {
  font-family: "Gilroy-Semibold";
  font-size: 22px;
  font-style: normal;
  line-height: 139%; /* 55.6px */
}
.body-normal {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}
.label {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
}
.cta-btn {
  width: fit-content;
  padding: 0px 25px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
.cta-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
}
.cta-btn:hover {
  background-color: var(--base);
  color: var(--primary);
}

.section-container {
  width: 100%;
  display: flex;
  padding: 2rem;
  padding-top: 3.5rem;
  flex-wrap: wrap;
}
.section-container .big-card-container,
.section-container .small-card-container {
  border: 1px transparent solid;
  cursor: pointer;
}
.section-container .big-card-container:hover,
.section-container .small-card-container:hover {
  transition: 0.5s;
  border: 1px var(--dark-bg) solid;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  color: var(--dark-bg);
}
.section-navigation {
  padding: 10px;
  background-color: var(--dark-bg);
  color: var(--base);
  border: 2px transparent solid;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-navigation:hover {
  border: 2px var(--dark-bg) solid;
}
.section-body {
  width: 100%;
  height: 100%;
  display: flex;
  row-gap: 2rem;
  column-gap: 2rem;
}
.section-body-start {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
.section-body-end {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgba(4, 27, 78, 0.76);
  opacity: 1;
  z-index: 1;
  border-radius: 0;
  transition: 1s ease;
  display: none;
}
.modal-overlay-view {
  display: flex;
  flex-direction: row;
}
.blank-area{
  width: 50%;
  height: 100%;
}
.modal-container {
  z-index: 10000;
  width: 50%;
  height: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: var(--base);
  border-bottom-right-radius: 0;
  overflow-y: scroll;
  border-top-right-radius: 0;
  transform: translateX(150%);
  transition: 0.6s;
}
.modal-container-view {
  transform: translateX(0%);
}

.modal-header {
  width: 100%;
  height: 15%;
  background-color: var(--highlight);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 1000;

}
.modal-container .previous {
  opacity: 0.6;
}
.modal-navigation {
  display: flex;
  justify-content: center;
}
.modal-body-container {
  width: 100%;
  /* height: fit-content; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 5% 0%;
  row-gap: 25px;
}
.modal-body {
  width: 100%;
  /* height: 100%; */
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  /* row-gap: 4%; */
}
.modal-blank-footer {
  background: transparent;
  width: 100%;
  padding: 10px;
}
.modal.cta-btn {
  background-color: var(--dark-bg);
  color: var(--light-bg);
  margin: 0 20px;
  border-radius: 8px;
  height: 100%;
}
.close-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: var(--primary);
  color: var(--base);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.modal-body-container.resume img {
  width: 100%;
}

.hide-scroll {
  overflow-y: hidden;
}
.optionBody {
  width: 100%;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--light-bg);
  margin: 2% 0;
}
.optionbutton {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.optionbutton.active {
  background-color: var(--dark-bg);
  color: white;
}
.meeting-body {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20% 10%;
}
.meeting-body .sub-heading {
  display: flex;
  line-height: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 20px;
  color: var(--primary);
}
.progress-bar-body{
  width: 100%;
  height: 12%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin:1vw 0;
  margin-bottom: 2vw;
}
.progress-line{
  width: 90%;
}
.progress-items{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.progress-item{
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base);
  border-radius: 50%;
  border: 2px var(--dark-bg) solid;
  /* z-index: 1; */
}
.progress-item.active{
  background-color: var(--dark-bg);
  color: var(--base);
}
.progress-line{
  width: 100%;
  height: 2px;
  background-color: var(--dark-bg);
  position: absolute;
}
.modal-body-container.all-items{
   display: flex;
}
.item-container{
  width: 100%;
  height: 14vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  column-gap: 20px;
  padding: 20px;
  cursor: pointer;
  border: 2px transparent solid;

}
.item-banner{
  overflow: hidden;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-banner img{
  width: 100%;
  object-fit: cover;
}
.item-body{
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  justify-content: start;
}
.item-title{
  font-family: "Gilroy-Semibold";
  
}
.item-desc{
  font-size: 12px;
  overflow: none;
  
}
.item-container:hover{
  border: 2px   #485d7a8d solid;
}
.item-navigation{
  font-size: 40px;
}
.item-container:hover .item-navigation{
  transform: translateX(8px);
  transition: 0.2s;
}
/* Tablet and lower screens than tablets */
@media only screen and (max-width: 1200px) {
  body {
    margin: 13px;
  }

  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vh 0px;
    height: 62vh;
    gap: 3vh;
  }
  .heading-large {
    font-size: 32px;
  }
  .body-normal {
    font-size: 16px;
  }
}
