
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Font family fallback: SF Pro > Helvetica > Inter > System */
body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", Helvetica, "Inter", "Segoe UI", Roboto, Arial, sans-serif;
  color: #fff;
  line-height: 24px;
  background-color: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css or component-level CSS */
.scrollbar-hide {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #444444 #000; /* thumb color, track color */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #000; /* track color */
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #323232; /* thumb color */
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #454545; /* thumb hover color */
}